// @font-face shorthand mixin
// ============================================

@mixin font-face(
  $family, // font-family
  $font-file, // font-filename. We just need to define the font filename (without file extension/path), font path is already defined in settings.scss
  $style: normal, //font-style
  $weight: normal // font-weight
  ) {
  @font-face {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    src: url('#{$font-path}/#{$font-file}.eot');
    src: 
      url('#{$font-path}/#{$font-file}.eot') format('embedded-opentype'),
      url('#{$font-path}/#{$font-file}.woff') format('woff'),
      url('#{$font-path}/#{$font-file}.ttf') format('truetype'),
      url('#{$font-path}/#{$font-file}.svg') format('svg');
  }
}


// Example
// --------------------------------------------

// font-family: 'My Font'; font-weight: normal; font-style: normal;
// @include font-face('My Font', 'myFont-400');

// font-family: 'My Font'; font-weight: bold; font-style: italic;
// @include font-face('My Font', 'myFont-700-it', bold, italic);


// Font-family shorthand mixins
// --------------------------------------------

// Sans-serif
@mixin sans {
  font-family: $sans;
}

// Serif
@mixin serif {
  font-family: $serif;
}

// Monospace
@mixin mono {
  font-family: $mono;
}

