/*	Forms
----------------- */

form p {
	margin-bottom: $base-line-height;
}

fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}

legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: $base-line-height - 1;
	font-size: ceil($base-font-size * 1.5);
	line-height: ceil($base-line-height * 1.5);
	color: $text;
	border: 0;
	border-bottom: 1px solid $def-border;
}

label {
	display: inline-block;
	margin-bottom: 5px;
	font-weight: bold;
}

input[type="search"] {
	@include box-sizing(border-box);
}

input[type="radio"],
input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px \9; /* IE8-9 */
	line-height: normal;
}

input[type="file"] {
	display: block;
	line-height: $base-line-height * 1.5;
}

select[multiple],
select[size] {
	height: auto;
}

select optgroup {
	font-size: inherit;
	font-style: inherit;
	font-family: inherit;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	@include tab-focus;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	display: block;
	width: 100%;
	height: 40px;
	padding: 9px 12px;
	font-size: $base-font-size;
	line-height: $base-line-height;
	color: $grey;
	vertical-align: middle;
	background-color: $w;
	background-image: none;
	border: 1px solid $def-border;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	@include box-shadow(inset 0 1px 1px rgba($b, .075));

	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

	@include input-focus();

	@include placeholder();

	&[disabled],
	&[readonly],
	fieldset[disabled] & {
		cursor: not-allowed;
		background-color: $grey-lighter;
	}

}
textarea {
	height: auto;
}

.radio,
.checkbox {
	display: block;
	min-height: $base-line-height;
	margin-top: 10px;
	margin-bottom: $base-line-height;
	padding-left: 20px;
	vertical-align: middle;

	label {
		display: inline;
		margin-bottom: 0;
		font-weight: normal;
		cursor: pointer;
	}
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
	float: left;
	margin-left: -20px;
}

.radio + .radio,
.checkbox + .checkbox {
	margin-top: -5px;
}

.radio-inline,
.checkbox-inline {
	display: inline-block;
	padding-left: 20px;
	margin-bottom: 0;
	vertical-align: middle;
	font-weight: normal;
	cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
	margin-top: 0;
	margin-left: 10px;
}

input[type="radio"],
input[type="checkbox"],
.radio,
.radio-inline,
.checkbox,
.checkbox-inline {

	&[disabled],
	fieldset[disabled] & {
		cursor: not-allowed;
	}
}

// Button

button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 9px 12px;
	font-size: $base-font-size;
	line-height: $base-line-height;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	@include button-color($w, $link, darken($link, 5%));

	&:focus {
		@include tab-focus();
	}

	&:hover,
	&:focus {
		text-decoration: none;
	}

	&:active,
	&.active {
		outline: 0;
		background-image: none;
		@include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
	}

	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		cursor: not-allowed;
		pointer-events: none;
		@include opacity(.65);
		@include box-shadow(none);
	}
	// Block button
	&.block {
		display: block;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
}
