// Scaffolding
// ============================================


// General Layout
// --------------------------------------------

// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// Establishes a font baseline for the given font-size.
@include establish-baseline($base-font-size);

body {
  @include sans;
  background: $bg-color;
  color: $text;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

// Prevent FOUT (Flash of Unstyled Text) when using fonts from Typekit or Google Fonts
.wf-loading {
  body {
    font-family: $sans; // if default font using sans-serif, change the value to $serif
  }
}

// Clearfix
.clearfix {
  @extend %clearfix;
}

// horizontal rule
hr {
  margin-top: $base-line-height;
  margin-bottom: $base-line-height - 1;
  border: none;
  border-top: 1px solid $def-border;
}


// Floating
// --------------------------------------------
.pull-left    { float: left; }
.pull-right   { float: right; }


// Element visibility state
// --------------------------------------------

.hidden {
  display: none;
}

.visible,
.block {
  display: block;
}

// hidden only on tablet
.hidden-tablet {
  @include respond(false, $screen-phablet, $screen-standard - 1) {
    display: none;
  }
}

// visible only on tablet
.visible-tablet {
  display: none;
  
  @include respond(false, $screen-phablet, $screen-standard - 1) {
    display: block;
  }
}

// hidden only on phone
.hidden-phone {
  @include respond(false, $screen-phone-narrow, $screen-phone - 1) {
    display: none;
  }
}

// visible only on phone
.visible-phone {
  display: none;

  @include respond(false, $screen-phone-narrow, $screen-phone - 1) {
    display: block;
  }
}


// Images
// --------------------------------------------

img {
  vertical-align: middle;
  max-width: 100%;
}

.img-rounded {
  @extend %rounded;
}

.img-circle {
  @extend %circle
}